# Set default behaviour, in case users don't have core.autocrlf set.
text eol=crlf



#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
